/dokkan-scout.exe
/DokkanAverageKi.xlsx
/DokkanSpreadsheets
/Ki.py
/LinkTable.csv
/New Document.pdf
/OmegaRuby (1).xlsx
/OmegaRuby.xlsx
/Souls Games Builds.xlsx
/dokkan_env
/__pycache__
/DokkanUnits/55%/*
/DokkanUnits/69%/*
/DokkanUnits/79%/*
/DokkanUnits/90%/*
/DokkanUnits/100%/*
/DokkanKitsOld
/TESTING
/pickleComparison.py